<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Sign In</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="style.css" />
		<script src="app.js" async defer></script>
		<script src="https://kit.fontawesome.com/1fa187a62b.js" crossorigin="anonymous"></script>
	</head>
	<body
		style="
			display: flex;
			justify-content: center;
			align-items: center;
			height: 95vh;
			width: 95vw;
			background-color: bisque;
		"
	>
		<a
			href="/signin"
			style="
				position: absolute;
				right: 3rem;
				top: 1rem;
				text-decoration: none;
				border: 1px solid black;
				padding: 0.5rem;
				border-radius: 0.5rem;
				text-align: center;
				background-color: rgb(253, 255, 121);
				box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.697);
			"
			>Log In</a
		>
		<%-body%>
		
	</body>
</html>
